{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" /> <span class="title-after-image">{{@blog.title}}</span>
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts to="4"}}
                {{> "post-card"}}
            {{/foreach}}
            {{#foreach posts from="5" to="7"}}
                {{> "post-card"}}
            {{/foreach}}
            {{#foreach posts from="8"}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

        <div style="width:100%">
            <!-- Horizontal Native -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3478521594413822"
                data-ad-slot="7397912944"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</main>
