{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
{{#tag}}
<header class="site-header outer {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            <h1 class="site-title">{{name}}</h1>
            <h2 class="site-description">
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </h2>
        </div>
    </div>
</header>
{{/tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="post-feed">
            {{#foreach posts to="6"}}
                {{> "post-card"}}
            {{/foreach}}
            {{#foreach posts from="7" to="13"}}
                {{> "post-card"}}
            {{/foreach}}
            {{#foreach posts from="14" to="20"}}
                {{> "post-card"}}
            {{/foreach}}
            {{#foreach posts from="21"}}
                {{> "post-card"}}
            {{/foreach}}
        </div>

        <div style="width:100%;margin-bottom:20px">
            <!-- Horizontal Native -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-3478521594413822"
                data-ad-slot="7397912944"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</main>
